<!DOCTYPE html>
<html>
  <head>
    <title>errors</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= content %></p>
    <p class="menu"><a href="/">トップに戻る</a></p>
  </body>
</html>