<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="titlename"><%= title %></h1>
    <p class="menutop">メニュー</p>
    <p class="menu"><a href="/command/set">コマンドカード</a></p>
    <p class="menu"><a href="/time">回復時間を調べる</a></p>
    <p class="menutop">説明</p>
    <ul>
      <li class="menuli">コマンドカードの構成の表示ツールおよび、APが回復する時間の表示ツールです。詳しくはそれぞれのリンクへ</li>
      <li class="menuli">これを作ったのは庚午里藻です。ツイッターは<a href="https://twitter.com/kanoeuma_satomo">こちら</a>、はてなブログは<a href="http://kanoeuma-310mo.hatenablog.jp">こちら</a>です。ツイッターは特に意味のあることを呟いているわけではないし、ブログの方は更新も記事数もローペースですがよかったらフォローお願いします〜</li>
    </ul>
  </body>
</html>
