<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="titlename"><%= title %></h1>
    <p class="menutop">メニュー</p>
    <p class="menu"><a href="/command/set">コマンドカード</a></p>
    <p class="menu"><a href="/time">回復時間を調べる</a></p>
    <p class="menu"><a href="/time2">回復時間を調べるその２</a></p>
    <p class="menu"><a href="/item/set">必要素材数を調べる</a></p>
    <p class="menu"><a href="/gacha">ガチャの確率を調べる</a></p>

    <p class="menutop">説明</p>
    <ul>
      <li class="menuli">コマンドカードの構成の表示ツール、APが回復する時間および、サーヴァントの必要素材数の表示ツールです。詳しくはそれぞれのリンクへ</li>
      <li class="menuli">これを作ったのは庚午里藻です。はてなブログは<a href="http://kanoeuma-310mo.hatenablog.jp">こちら</a>です。ツイッターは特に意味のあることを呟いているわけではないし、ブログの方は更新も記事数もローペースですがよかったらフォローお願いします〜</li>
      <li class="menuli">※2018/8/25に謎のヒロインXXまでのサーヴァントに対応しました。</li>
      <li class="menuli">※2018/12/15に項羽までのサーヴァントに対応しました。</li>
    </ul>
  </body>
</html>
