body {
    margin: 0;
    padding: 0;
    background-color: rgba(44, 233, 240, 0.06);
}

header h1 {
    font-size: 48px;
    background-color: #1BC6E4;
    color: #fff;
    text-align: center;
    margin-top: 0;
}

form {
    text-align: center;
}

.anc {
    position: relative;
    top: -330px;
    left: 700px;
    font-size: 20px;
}

.saber {
    position: relative;
    top: 0px;
    left: 150px;
    width: 300px;
    height: auto;
}

.hukidashi {
    position: relative;
    top: -200px;
    left: 630px;
    width: 300px;
    height: auto;
}


.anc2 {
    position: relative;
    top: -320px;
    left: 700px;
    font-size: 20px;
}

.saber2 {
    position: relative;
    top: 0px;
    left: 150px;
    width: 300px;
    height: auto;
}

.hukidashi2 {
    position: relative;
    top: -200px;
    left: 630px;
    width: 300px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .anc {
        position: relative;
        top: -330px;
        left: 370px;
        font-size: 15px;
    }

    .anc2 {
        position: relative;
        top: -320px;
        left: 370px;
        font-size: 15px;
    }
}

.menu {
    margin-left: 20px; 
    margin-right: 20px;
    
}

.totop {
    color: #00B7FF;
}

.menuli {
    margin-right: 20px;
}

.timecheck {
    text-align: center;
}

