body {
    margin: 0;
    padding: 0;
    background-color: rgba(44, 233, 240, 0.06);
}

header h1 {
    font-size: 48px;
    background-color: #1BC6E4;
    color: #fff;
    text-align: center;
    margin-top: 0;
}

form {
    text-align: center;
}

.anc {
    position: absolute;
    top: 450px;
    left: 720px;
    font-size: 20px;
}

.saber {
    position: absolute;
    top: 450px;
    left: 450px;
    width: 300px;
    height: auto;
}

.hukidashi {
    position: absolute;
    top: 450px;
    left: 650px;
    width: 300px;
    height: auto;
}

.anc2 {
    position: absolute;
    top: 400px;
    left: 700px;
    font-size: 20px;
}

.saber2 {
    position: absolute;
    top: 400px;
    left: 450px;
    width: 300px;
    height: auto;
}

.hukidashi2 {
    position: absolute;
    top: 390px;
    left: 630px;
    width: 300px;
    height: auto;
}

.menu {
    margin-left: 20px; 
    margin-right: 20px;
    
}

.totop {
    color: #00B7FF;
}

.menuli {
    margin-right: 20px;
}

.timecheck {
    text-align: center;
}

