body {
  padding: 0;
  margin: 0;
  background-color: rgba(44, 233, 240, 0.06);
}

#titlename {
  font-size: 48px;
  background-color: #1BC6E4;
  color: #fff;
  text-align: center;
  margin-top: 0;
}

.menutop {
  margin-left: 20px;
}

.btoa {
  font-size: 16px;
  margin-left: 20px;
}

.sdata {
  border: solid;
  width: 250px;
}

.menutop2 {
  font-size: 24px;
  margin-left: 20px;
}

.menu {
  margin-left: 50px; 
  margin-right: 20px;
}

.menuservant {
  margin-top: 20px;
  margin-left: 50px; 
  margin-right: 20px;
}

.menuli {
  margin-right: 20px;
}

a {
  color: #00B7FF;
}

.button {
  font-size: 30px;
}

.button.active {
  font-size: 30px;
  background-color: blueviolet;
}

.servants {
  font-size: 30px;
}

.buttons {
  font-size: 24px;
}
