body {
    margin: 0;
    padding: 0;
    background-color: rgba(44, 233, 240, 0.06);
}

header h1 {
    font-size: 48px;
    background-color: #1BC6E4;
    color: #fff;
    text-align: center;
    margin-top: 0;
}

form {
    text-align: center;
}

.anc {
    text-align: center;
    font-size: 50px;
}

/*.saber {
    position: relative;
    top: 0px;
    left: 50px;
    width: 300px;
    height: auto;
}

.hukidashi {
    position: relative;
    top: -200px;
    left: 600px;
    width: 300px;
    height: auto;
}


.anc2 {
    position: absolute;
    top: 130px;
    left: 650px;
    font-size: 20px;
}

.saber2 {
    position: relative;
    top: 0px;
    left: 50px;
    width: 300px;
    height: auto;
}

.hukidashi2 {
    position: relative;
    top: -200px;
    left: 600px;
    width: 300px;
    height: auto;
}*/

@media screen and (max-width: 600px) {
    .anc {
        text-align: center;
        font-size: 30px;
    }

    /*.saber {
        position: relative;
        top: 50px;
        left: -130px;
        width: 150px;
        height: auto;
    }
    
    .hukidashi {
        position: relative;
        top: -100px;
        left: 150px;
        width: 200px;
        height: auto;
    }

    .anc2 {
        position: relative;
        top: -180px;
        left: 190px;
        font-size: 15px;
    }

    .saber2 {
        position: relative;
        top: 50px;
        left: -130px;
        width: 150px;
        height: auto;
    }
    
    .hukidashi2 {
        position: relative;
        top: -100px;
        left: 150px;
        width: 200px;
        height: auto;
    }*/
}

.menu {
    margin-left: 20px; 
    margin-right: 20px;
    
}

.totop {
    color: #00B7FF;
}

.menuli {
    margin-right: 20px;
}

.timecheck {
    text-align: center;
}

/*.gacha {
    text-align: center;
}*/

